Source: tarantool-expirationd
Priority: optional
Section: database
Maintainer: Oleg Jukovec <oleg.jukovec@tarantool.org>
Build-Depends: debhelper (>= 9),
               tarantool (>= 1.7.4.0),
# For /usr/bin/prove
               perl (>= 5.10.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/expirationd
Vcs-Git: git://github.com/tarantool/expirationd.git
Vcs-Browser: https://github.com/tarantool/expirationd

Package: tarantool-expirationd
Architecture: all
Depends: tarantool (>= 1.7.4.0), tarantool-checks (>= 2.1), ${misc:Depends}
Description: Expiration daemon for Tarantool
 This package can turn Tarantool into a persistent memcache replacement,
 but is powerful enough so that your own expiration strategy can be defined.
 .
 You define two functions: one takes a tuple as an input and returns true in
 case it's expirted and false otherwise. The other takes the tuple and
 performs the expiry itself: either deletes it (memcache), or does something
 smarter, like put a smaller representation of the data being deleted into
 some other space.
